* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}
:root {
  --primary-color: #0000a5;
  --secondary-color: #f8f9fa;
  --hover-effect: #4343bb;
}
body {
  overflow-x: hidden;
}
.primary-color {
  color: var(--primary-color);
}
.secondary-color {
  background-color: var(--secondary-color);
}
.text-center {
  text-align: center;
}
