.popular {
  width: 85vw;
  margin: 30px auto;
}
.popular-head {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 10px 0;
}
.see-all-courses a {
  color: var(--primary-color);
  font-weight: 600;
}
.popular-courses_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  /* width: 70vw; */
}

@media only screen and (max-width: 800px) {
  .popular-courses_wrapper {
    flex-wrap: wrap;
  }
}
